In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("tmdb_5000_credits.csv")
df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [3]:
df1 = pd.read_csv("tmdb_5000_movies.csv")
df1.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
df2 = df.merge(df1, on = df.title)

In [5]:
print(df.shape)
print(df1.shape)
print(df2.shape)

(4803, 4)
(4803, 20)
(4809, 25)

In [6]:
df2.head()

,key_0,movie_id,title_x,cast,crew,budget,genres,homepage,id,keywords,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,Avatar,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,Pirates of the Caribbean: At World's End,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,Spectre,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,The Dark Knight Rises,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,John Carter,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
df2.columns

Index(['key_0', 'movie_id', 'title_x', 'cast', 'crew', 'budget', 'genres',
       'homepage', 'id', 'keywords', 'original_language', 'original_title',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_y', 'vote_average',
       'vote_count'],
      dtype='object')

In [8]:
df3 = df2[["title_x", "movie_id", "cast", "crew", "genres", "keywords","overview", "tagline", "vote_average","release_date"]]

In [9]:
df3["release_date"] = pd.to_datetime(df3["release_date"]).dt.strftime('%Y')

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\2097149625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["release_date"] = pd.to_datetime(df3["release_date"]).dt.strftime('%Y')

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_x       4809 non-null   object
 1   movie_id      4809 non-null   int64
 2   cast          4809 non-null   object
 3   crew          4809 non-null   object
 4   genres        4809 non-null   object
 5   keywords      4809 non-null   object
 6   overview      4806 non-null   object
 7   tagline       3965 non-null   object
 8   vote_average  4809 non-null   float64
 9   release_date  4808 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 375.8+ KB

In [11]:
df3.dropna(inplace = True)

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\3041533304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(inplace = True)

In [12]:
import ast

In [13]:
def convert(text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [14]:
df3['genres'] = df3['genres'].apply(convert)

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\1539287994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['genres'] = df3['genres'].apply(convert)

In [15]:
df3['keywords'] = df3['keywords'].apply(convert)

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\1819700995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['keywords'] = df3['keywords'].apply(convert)

In [16]:
def convert2(text):
    L = []
    c = 0
    for  i in ast.literal_eval(text):
        if c < 3:
            L.append(i["name"])
        c+=1
    return L

In [17]:
df3['cast'] = df3['cast'].apply(convert)

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\1731039259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cast'] = df3['cast'].apply(convert)

In [18]:
df3['cast'] = df3['cast'].apply(lambda x:x[0:3])

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\145529617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cast'] = df3['cast'].apply(lambda x:x[0:3])

In [19]:
for i in ast.literal_eval(df3['crew'][0]):
    if i['job']=="Director":
        print(i['name'])

James Cameron

In [20]:
def dire(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job']=="Director":
            L.append(i['name'])
    return L

In [21]:
df3['crew'] = df3['crew'].apply(dire)

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\1335250794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['crew'] = df3['crew'].apply(dire)

In [22]:
df3['Actor'] = df3['cast'].apply(lambda x: x[0] if x else None)

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\1402267384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Actor'] = df3['cast'].apply(lambda x: x[0] if x else None)

In [23]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [24]:
df3['cast'] = df3['cast'].apply(collapse)
df3['crew'] = df3['crew'].apply(collapse)
df3['genres'] = df3['genres'].apply(collapse)
df3['keywords'] = df3['keywords'].apply(collapse)

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\2107142032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cast'] = df3['cast'].apply(collapse)
C:\Users\neera\AppData\Local\Temp\ipykernel_13560\2107142032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['crew'] = df3['crew'].apply(collapse)
C:\Users\neera\AppData\Local\Temp\ipykernel_13560\2107142032.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['genres'] = df3['genres'].apply(collapse)
C:\Users\neera\AppData\Local\Temp\ipykernel_13560\2107142032.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['keywords'] = df3['keywords'].apply(collapse)

In [25]:
df3['overview'] = df3['overview'].apply(lambda x:x.split())

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\3204769777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['overview'] = df3['overview'].apply(lambda x:x.split())

In [26]:
df3['tags'] = df3['overview'] + df3['genres'] + df3['keywords'] + df3['cast'] + df3['crew']

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\2364878678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['tags'] = df3['overview'] + df3['genres'] + df3['keywords'] + df3['cast'] + df3['crew']

In [27]:
df3['tagline'] = df3['tagline'].apply(lambda x:x.split())

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\857981531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['tagline'] = df3['tagline'].apply(lambda x:x.split())

In [28]:
df3['tags'] = df3['tags'] + df3["tagline"]

C:\Users\neera\AppData\Local\Temp\ipykernel_13560\2344878250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['tags'] = df3['tags'] + df3["tagline"]

In [29]:
new = df3.drop(columns=['overview','genres','keywords','cast','crew', 'tagline'])

In [30]:
new.head()

,title_x,movie_id,vote_average,release_date,Actor,tags
0,Avatar,19995,7.2,2009,Sam Worthington,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,Pirates of the Caribbean: At World's End,285,6.9,2007,Johnny Depp,"[Captain, Barbossa,, long, believed, to, be, d..."
2,Spectre,206647,6.3,2015,Daniel Craig,"[A, cryptic, message, from, Bond’s, past, send..."
3,The Dark Knight Rises,49026,7.6,2012,Christian Bale,"[Following, the, death, of, District, Attorney..."
4,John Carter,49529,6.1,2012,Taylor Kitsch,"[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
top_movies = new.sort_values(by="vote_average", ascending = False)["title_x"].head(30)

In [32]:
new = new[["title_x", "movie_id", "tags"]]

In [33]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,title_x,movie_id,tags
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...
4,John Carter,49529,"John Carter is a war-weary, former military ca..."

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [35]:
vector = cv.fit_transform(new['tags']).toarray()

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
similarity = cosine_similarity(vector)

In [38]:
similarity

array([[1.        , 0.12369267, 0.05309319, ..., 0.02002404, 0.0325128 ,
        0.02411214],
       [0.12369267, 1.        , 0.08471737, ..., 0.04260143, 0.        ,
        0.02564946],
       [0.05309319, 0.08471737, 1.        , ..., 0.04571503, 0.        ,
        0.        ],
       ...,
       [0.02002404, 0.04260143, 0.04571503, ..., 1.        , 0.        ,
        0.02076137],
       [0.0325128 , 0.        , 0.        , ..., 0.        , 1.        ,
        0.03370999],
       [0.02411214, 0.02564946, 0.        , ..., 0.02076137, 0.03370999,
        1.        ]])

In [39]:
sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x: x[1])[:5]

[(0, 1.0),
 (525, 0.2411214110852061),
 (567, 0.23262521394079744),
 (46, 0.23055616708169394),
 (1168, 0.22020637165119505)]

In [40]:
def recommend(movie):
    index = new[new['title_x'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        #print(distances)
        print(new.iloc[i[0]].title_x)

In [41]:
recommend("Avatar")

Titan A.E.
Battle: Los Angeles
Star Trek Into Darkness
Aliens vs Predator: Requiem
The Fifth Element

In [42]:
#pickle.dump(new,open('movie_list.pkl','wb'))
#pickle.dump(similarity,open('similarity.pkl','wb'))

In [43]:
#movie_name_list = pickle.load(open(r"movie_list.pkl", "rb"))